html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'serif', 'sans-serif', 'cursive', 'fantasy', 'monospace' ;
    height: 100vh;
}
#main {
    display: flex;
}

#map {
    height: 100vh;
}
#header {
    height: 10vh;
    background-color: cornsilk;
    padding-top: 0px;
    border:cornsilk ;
}
#header h3 {
    text-align: center;
    font-size: 30px;
    font-family: Algerian;
    background-color: cornsilk;
}
#container {
    display: flex;
    background-color: rgb(247, 245, 158);
}

#sideBar {
    width: 25%;
    height: 3rem;
    font-size: 12px;
    background-color: azure;
}
.venueList{
    padding:2rem;
}
#query-Filter{
    background-color: cornsilk;
    height: 30px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    border: cornsilk;
    font-size: 16px;
}
.menu-result {
    list-style: none;
    font-size: 14px;
    padding: 1rem;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    text-align: center;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
/*  */
.theList {
    margin-top: 10px;
    padding: 0px;
    list-style-type: none;

}
.theList li:hover {
     color: navajowhite;
     background: #3b3e49;
 }

.theList li {
    color: black;
    cursor: pointer;
    font-weight: bold;
    transition: all 300ms ease-in-out;
    font-size: 16px;
}
.theList i{
    font-weight: normal;
    font-size:15px;
}
.theList i:hover {
    color: navajowhite;
    background: purple;
}

/*-----burger menu, reference https://www.npmjs.com/package/react-burger-menu ------*/
.bm-burger-button {
    position: fixed;
    width: 20px;
    height: 15px;
    left: 15px;
    top: 5vh;
    background-color: cornsilk;
}

.bm-burger-bars {
    background: red;
}

.bm-cross-button {
    margin-right: 6px;
}
/* Color/shape of close button cross */
.bm-cross {
    background: red;
    margin-right: 6px;
}


.bm-menu {
    background:darkgray;
    font-size: 1.3em;
}
.bm-item-list {
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 530px) and (min-width: 351px) {
    .bm-item-list {
        padding: 0;
    }
    .bm-menu {
        margin-top: 10px;
        font-size: 1.2em;
        width: 100%;
    }

    .bm-menu i {
        font-size: 70%;
    }

    .bm-burger-button {
        width: 30px;
        height: 25px;
        left: 20px;
        top: 3vh;
    }
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}

@media screen and (min-width: 800px) {
    .bm-item-list {
        padding: 0;
    }
    .bm-menu {
        margin-top: 10px;
        font-size: 0.8em;
        width: 100%;
    }
    #header {
        font-size: 120%
    }
}